*,
*::before,
*::after {
  box-sizing: border-box;
}

// ====================================
// # body

$body-color: #000;
$body-bg-color: #fff;

body {
  margin: 0;
  font-size: $font-size-base;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $body-bg-color;
}

// ====================================
// # links

$link-color: #000;
$link-hover-color: #000;

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}